<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.databinding">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity" />
        <activity android:name=".VariableActivity" />
        <activity android:name=".TagActivity" />
        <activity android:name=".DialogFragmentActivity" />
        <activity android:name=".viewmodel.ViewModelActivity" />
        <activity android:name=".test1.TestActivity1" />
        <activity android:name=".test2.TestActivity2" />
        <activity android:name=".test2.test1.TestDatabindingActivity1" />
        <activity android:name=".test2.test2.TestDatabindingActivity2" />
        <activity android:name=".test2.test3.TestDatabindingActivity3" />
        <activity android:name=".test2.test4.TestDatabindingActivity4" />
        <activity android:name=".test2.test5.TestDatabindingActivity5" />
        <activity android:name=".test2.test6.TestDatabindingActivity6" />
        <activity android:name=".test2.test7.TestDatabindingActivity7" />
        <activity android:name=".test2.test8.TestDatabindingActivity8" />
        <activity android:name=".test2.test9.TestDatabindingActivity9" />
        <activity android:name=".test2.test10.TestDatabindingActivity10" />
        <activity android:name=".test2.test11.TestDatabindingActivity11" />

    </application>

</manifest>